{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "require-path-exists"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "react/forbid-prop-types": [2, { "forbid": ["any", "array"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
